/* You CSS goes in here */

/* You CSS goes in here */

* {
  margin: 0px;
  padding: 0px;
}
.simulation {
  border: 2px solid rgb(15, 15, 15);
  margin: 100px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  text-align: start;
}



.heading {
  margin: 0px;
  text-align: center;
  background-color: crimson;
  padding: 20px;
  color: white;
  box-shadow: 2px 2px 2px 2px black;
}

h1 {
  margin-left: 100px;
}

button {
  margin: 10px;
  background-color: #ffbd03;
  border-radius: 7px;
  padding: 4px;
  padding-left: 40px;
  padding-right: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover{
    border: 2px solid whitesmoke;
}
#start {
  margin-left: 40%;
  font-size: 25px;
}
select {
  background-color: rgb(247, 127, 145);
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.bottom {
  text-align: center;
  margin: 10px;
  
}

.procedure-button {
  position: absolute;
  top: 1%;
}

.side-panel {
  position: fixed;
  top: 80px;
  right: -800px; /* Start hidden off-screen */
  width: 700px;
  height: 100%; /* Adjust height as necessary */
  background-color: #fcbcbc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 2%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: right 0.3s ease; /* Smooth slide effect */
  /* z-index: 100; Ensure it’s on top */
}

.side-panel h2 {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 10px;
}

.side-panel p {
  font-size: 14px;
  white-space: pre-line; /* This allows new lines to be respected */
}

#lists {
  margin: 10px;
}

li {
  font-size: 17px;
  margin: 10px;
  font-weight: bold;
  list-style-type: disc;
  font-family: sans-serif;
  margin-left: 20px;
}

h2.Ammeter {
  margin-top: 30px;
}
